body{
	background:#E6EAEF;
}
/*box border*/
$border : 1px solid #fff;

/*box shadow*/
@mixin boxshadow($radius){
	-webkit-box-shadow :$radius;
	-moz-box-shadow :$radius;
	-o-box-shadow :$radius;
	box-shadow :$radius;
}
@mixin desctTag(){
	position: absolute;
	left: 0;
	width: 100%;
	height: 45%;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	text-align: center;
	display: none;
	color: #fff;
	font-size: 16px;
	line-height: 1em;
}
@mixin authTag(){
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	background: rgba(0,0,0,0.1);
	text-align: center;
	display: none;
	color: #fff;
	font-size: 16px;
	line-height: 1em;
}
.navbar{

}
/* min- height for container */
$height : 500px;

.myphoto-container{
	min-height: $height;
}
.photo-header{
	min-height: 230px;
	width: 85%;
	margin-bottom: 5%;
	margin-top: -40px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
.myphoto-box{
	float:right;
	width:75%;
}
.photo-container{
	float: left;
	width: 75%;
	margin-top: -30px;
}
.main-container{
margin-left: auto;
margin-right: auto;
text-align: center;
width:85%;
margin-top: 6%;
min-height:$height;
}

/*box width and height */
$widtheight:230px;

.box{
width:$widtheight;
height: $widtheight;
border:$border;
@include boxshadow(0 3px 3px #ccc);
float:left;
margin-left: 20px;
margin-bottom: 20px;
position: relative;
cursor: pointer;
}
myphotobox{
	width: 150px;
	height: 150px;
	border:$border;
	@include boxshadow(0 3px 3px #ccc);
	float:left;
	margin-left: 20px;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}
/*.model{
	display:none;
	position:fixed;
	z-index:1000;
	top:0;
	left:0;
	height:100%;
	width:100%; 
	background:rgba(0,0,0,0.8) 
	url('images/ajax-loader.gif') 50% 50% no-repeat;
}	*/	
.author{
	@include desctTag
}
.box:hover {
	.author{
	display:  block;
	padding-top: 10px;
	}
}		
#footer{
	height: 70px;
	background-color: #000;
	padding-top: 20px;
	p{
		text-align:left;
	}
}
.myProfilePic{
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	margin-left: 100px;
	margin-top: 18px;
}
.publicpic{
	text-align: left;
}
.leftDetails{
	margin-top: -170px;
	float: left;
	width: 50%;
	margin-left: 280px;
}
.userprof{
	color: #428bca !important;
	text-decoration: none;
}
.userprof:hover{
	color: #428bca;
	text-decoration: underline;
}
.rightDetails{
	margin-top: -20px;
	float:right;
	margin-right:50px;
}
.photoCount{
	font-size: 16px;
	padding-bottom: inherit;
	float: left;
}
.userdesc{
	text-overflow: ellipsis;
	height: 43px;
	overflow: hidden;
	font-size: 16px;
}
.profbtn{
	margin-top: 20px;
}
.friendlist{
	background:#fff;
	max-width: 26%;
	float: right;
	width: 25%;
	min-height: 500px;
	margin-top: -30px;
}
.myFriend:hover{
	text-decoration:none !important;
	margin-bottom:5px;
	cursor:pointer;
}
.friendlistDiv{
	width: 100%;
	margin-bottom: 10px;
	height: 25px;
	text-align: left;
	padding-top: 3px;
}
.friendlistDiv:hover{
	background-color:#ccc;
}
.friendPhoto{
	width: 20px;
}
.photodesc{
	@include authTag
}
.box:hover {
	.photodesc{
		display: block;
		padding-top: 20px;
	}
}
.form-control .search{
	width: 300px;
}
#footer {
	p{
		color: #fff;
	}
}
.myFriend{
	color:#1E74FF !important;
}
.s{
	font-size: 16px;	
}
a{
	color:#fff ;
}
a:hover{
	color:#fff;
	text-decoration:none;
}
.aboutContainer{
	padding-top:5%;
}
.frifam{
	margin-top: -50px;
}
.myfriendauthor{
		@include authTag
}
.box:hover {
	.myfriendauthor{
	display:  block;
	padding-top: 35px;
	}
}
.uname{
	padding-top: 50px;
}