/*box border*/
/*box shadow*/
/* min- height for container */
.myphoto-container {
  min-height: 500px;
}

.photo-header {
  min-height: 230px;
  width: 85%;
  margin-bottom: 5%;
  margin-top: -40px;
  background: #D6D6D6;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.myphoto-box {
  float: right;
  width: 75%;
}

.photo-container {
  float: left;
  width: 75%;
  margin-top: -30px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 85%;
  margin-top: 6%;
  min-height: 500px;
}

/*box width and height */
.box {
  width: 230px;
  height: 230px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  -o-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

myphotobox {
  width: 150px;
  height: 150px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  -o-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

/*.model{
	display:none;
	position:fixed;
	z-index:1000;
	top:0;
	left:0;
	height:100%;
	width:100%; 
	background:rgba(0,0,0,0.8) 
	url('images/ajax-loader.gif') 50% 50% no-repeat;
}	*/
.author {
  position: absolute;
  left: 0;
  width: 100%;
  height: 45%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: none;
  color: #fff;
  font-size: 16px;
  line-height: 1em;
}

.box:hover .author {
  display: block;
  padding-top: 10px;
}

#footer {
  height: 70px;
  background-color: #CECECE;
  padding-top: 20px;
}
#footer p {
  text-align: left;
}

.myProfilePic {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  margin-left: 100px;
  margin-top: 18px;
}

.publicpic {
  text-align: left;
}

.leftDetails {
  margin-top: -170px;
  float: left;
  width: 50%;
  margin-left: 280px;
}

.userprof {
  color: #428bca !important;
  text-decoration: none;
}

.userprof:hover {
  color: #428bca;
  text-decoration: underline;
}

.rightDetails {
  margin-top: -70px;
  float: right;
  margin-right: 50px;
}

.photoCount {
  font-size: 16px;
  padding-bottom: inherit;
  float: left;
}

.userdesc {
  text-overflow: ellipsis;
  height: 43px;
  overflow: hidden;
  font-size: 16px;
}

.profbtn {
  margin-top: 20px;
}

.friendlist {
  background: #D6D6D6;
  max-width: 26%;
  float: right;
  width: 25%;
  min-height: 500px;
  margin-top: -30px;
}

.myFriend:hover {
  text-decoration: none !important;
  margin-bottom: 5px;
  cursor: pointer;
}

.friendlistDiv {
  width: 100%;
  margin-bottom: 10px;
  height: 25px;
  text-align: left;
  padding-top: 3px;
}

.friendlistDiv:hover {
  background-color: #ccc;
}
