/*box border*/
$border : 1px solid #ccc;

/*box shadow*/
@mixin boxshadow($radius){
	-webkit-box-shadow :$radius;
	-moz-box-shadow :$radius;
	-o-box-shadow :$radius;
	box-shadow :$radius;
}
.navbar{

}
/* min- height for container */
$height : 500px;

.myphoto-container{
	width: 100%;
	min-height: $height;
}
.photo-header{
	height: 200px;
	width: 100%;
	margin-bottom: 5%;
	margin-top: -40px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.myphoto-box{
	float:right;
	width:75%;
}
.photo-container{
	float: left;
	width: 65%;
	margin-left: 10%;
	margin-top: -30px;
}
.friendlist{
	float: right;
	width: 25%;
	min-height: 500px;
	margin-top: -30px;
}
.main-container{
margin-left: auto;
margin-right: auto;
text-align: center;
width:85%;
margin-top: 6%;
min-height:$height;
}

/*box width and height */
$widtheight:230px;

.box{
width:$widtheight;
height: $widtheight;
border:$border;
@include boxshadow(0 3px 3px #ccc);
float:left;
margin-left: 20px;
margin-bottom: 20px;
position: relative;
cursor: pointer;
}
myphotobox{
	width: 150px;
	height: 150px;
	border:$border;
	@include boxshadow(0 3px 3px #ccc);
	float:left;
	margin-left: 20px;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}
/*.model{
	display:none;
	position:fixed;
	z-index:1000;
	top:0;
	left:0;
	height:100%;
	width:100%; 
	background:rgba(0,0,0,0.8) 
	url('images/ajax-loader.gif') 50% 50% no-repeat;
}	*/	
.author{
	position: absolute;
	left: 0;
	width: 100%;
	height: 45%;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	text-align: center;
	display: none;
	color: #fff;
	font-size: 16px;
	line-height: 1em;
}
.box:hover {
	.author{
	display:  block;
	padding-top: 10px;
	}
}		
#footer{
	height: 70px;
	background-color: #CECECE;
	padding-top: 20px;
	p{
		text-align:left;
	}
}
.mypic{
	width: 150px;
	border: 1px solid #000;
	height: 150px;
	margin-left: 100px;
	margin-top: 18px;
}
.publicpic{
	text-align: left;
}
