<div class="container aboutContainer">
	<h1>Hello, I am gokulakrishnan</h1>
	<p class="s">I am Passionate Frontend Developer and tech's and gadgets enthusiast.</p>
	<br>
	<p class="s">Know more about me</p>
	<button class="btn btn-primary">
		<a class="social" href="in.linkedin.com/in/gokulkrishh" target="_blank">LinkedIn Profile</a>
	</button>
	<button class="btn btn-primary">
		<a class="social" href="www.facebook.com/gokulkrishh" target="_blank">Facebook Profile</a>
	</button>
	<button class="btn btn-primary">
		<a class="social" href="www.twitter.com/gokul_i" target="_blank">Tweet Me</a>
	</button>
</div>