<div ng-controller="photoController">
    <div class="photo-header well">
            <div class="myProfilePic" style="background:url('{{imgUrl}}');background-size: 100%;">
            </div>
            <div class="container leftDetails">
                <h1 class="uname">{{nameOfPic}} friends and family photos</h1>
            </div>
    </div> 
    <div class="main-container container" id="main-container">
        <h3 class="frifam">{{userInfo.username._content}}</h3>
        <div class="box" ng-repeat="j in myFriendsPhoto" style="background:url('{{j.media.m}}')">
            <span class="myfriendauthor">
            Owner : {{j.author.replace("nobody@flickr.com (","").replace(")","")}}
            <br>
            <br>
            Date of taken : {{j.date_taken}}
            </span>
        </div>
    </div>
</div>
