<div class="myphoto-container container" ng-controller="photoController">
    <div class="photo-header well">
    	<div class="mypic"><img src="" ></div>
	</div>
	<div class="photo-container container">
	    <div class="box myphoto-box" ng-repeat="i in userPhotos" style="background:url('{{i}}')"> 
    	</div>
	</div>
	<div class="friendlist well" >
		<button class="btn btn-info"><a href="#/friendlist" style="color:#fff">Gokul</a></button>
		<br><br>
		<button class="btn btn-info"><a href="#/friendlist" style="color:#fff">Gokul</a></button>
		<br><br>
		<button class="btn btn-info"><a href="#/friendlist" style="color:#fff">Gokul</a></button>
		<br><br>
		<button class="btn btn-info"><a href="#/friendlist" style="color:#fff">Gokul</a></button>
		<br><br>
		<button class="btn btn-info"><a href="#/friendlist" style="color:#fff">Gokul</a></button>
		<br><br>
		
		
	</div>
</div>

